{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="div d-flex" style="justify-content: center; align-items: center; height: 100vh;">
        <div class="card translate-middle">
            <div class="card-header">
                <h5><i class="fa-regular fa-face-grin-squint"></i> TierMatch - Fazer Login</h5>
            </div>
            <div class="card-body">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br />
                    <p>Para acessar a página de registro <a href="{% url 'register' %}">clique aqui</a></p>
                    <br />
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}