{% extends "components/body.html" %} {% block title %}Cadastrar Quiz{% endblock %} 
{% block content %}

<div class="container">
    <div class="p-5">
        <h3 align="center" id="title-quiz">Cadastrar um Novo Quiz</h3>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Informe o nome..." />
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Descrição..."
                rows="3" />
        </div>
        <br />
        <hr>
        <div class="form-group mt-3 mb-3">
            <label>Categorias:</label>
            <div class="row mr-3 ml-3">
                <div class="col-1 p-1">
                    <span class="badge badge-primary categoria_div">
                        ação
                        <button type="button" class="close add">
                            <span aria-hidden="true">+</span>
                        </button>
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </div>
                <div class="col-1 p-1">
                    <span class="badge badge-primary">anime</span>
                </div>
                <div class="col-1 p-1">
                    <span class="badge badge-primary">futbol</span>
                </div>
                <div class="col-1 p-1">
                    <span class="badge badge-primary">dança kuduro</span>
                </div>
            </div>
            <div class="row" id="mais_25_50">
                <div class="col-12">
                </div>
            </div>

            <div class="d-flex">
                <hr style="width:40%;">
                <div class="text-center mt-1 font-italic text-muted" style="width:20%">mostrar mais</div>
                <hr style="width:40%">
            </div>
            <div class="position-relative">
                <button class="btn btn-sm btn-secondary position-absolute" style="top: -30px; right: 0"
                    data-toggle="modal" data-target="#modalCadastrarCategoria"><i
                        class="fa-solid fa-plus"></i></button>
            </div>

            <br />
            <br />

            <div class="d-flex mt-3 mb-3" id="question_not_allow">
                <hr style="width:30%;">
                <div class="text-center mt-1 font-italic text-muted" style="width:20%">cadastre primeiro o quiz</div>
                <hr style="width:30%">
            </div>

            <div class="form-group" id="question_div_container" style="display: none">
                <label>Personagens Adicionados:</label>
                <br />
                <div id="lista_cadastrados" class="row">

                </div>
                <div class="position-relative">
                    <button class="btn btn-sm btn-secondary position-absolute" style="top: -30px; right: 0"
                        data-toggle="modal" data-target="#modalCadastrarQuestion">
                        Adicionar Personagem
                    </button>
                </div>
            </div>

            <hr>
            <br />
            <div class="mt-4 mb-3 row" id="avancadas" style="display: none">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="super_allow_alias">Colocar um apelido para o super aprovado?</label>
                        <input type="text" class="form-control" id="super_allow_alias" name="super_allow_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="super_allow_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="super_allow_color" value="#f9c74f">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="allow_alias">Colocar um apelido para o aprovado?</label>
                        <input type="text" class="form-control" id="allow_alias" name="allow_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="allow_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="allow_color" value="#ff595e">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="deny_alias">Colocar um apelido para o reprovado?</label>
                        <input type="text" class="form-control" id="deny_alias" name="deny_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="deny_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="deny_color" value="#00b4d8">
                    </div>
                </div>
            </div>

            <div class="text-center row">
                <button class="btn btn-secondary btn-block col-12" id="avancadas_button">mostrar opções
                    avançadas</button>
            </div>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Cadastrar Quiz</button>
        </div>
    </div>
</div>

<script src="static/js/pages/quiz_page.js"></script>
<script src="static/js/pages/attributes.js"></script>
<script src="static/js/pages/question.js"></script>

{% endblock %}