{% extends 'main/base.html' %}

{% block title %}Criar quiz{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}
{% csrf_token %}

<div class="container">
    <div class="p-5">
        <h3 align="center" id="title-quiz">Cadastrar um Novo Quiz</h3>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Informe o nome..." />
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Descrição..."
                rows="3" />
        </div>
        <br />
        <hr>
        <div class="form-group mt-3 mb-3">
            <label>Categorias:</label>
            <div class="mr-4 ml-3 pr-2" id="categoria_list"></div>
            <!-- <div class="d-flex">
                <hr style="width:40%;">
                <div class="text-center mt-1 font-italic text-muted" style="width:20%">mostrar mais</div>
                <hr style="width:40%">
            </div> -->
            <div class="position-relative">
                <button class="btn btn-sm btn-secondary position-absolute" style="top: -30px; right: 0"
                    data-toggle="modal" data-target="#modalCadastrarCategoria"><i
                        class="fa-solid fa-plus"></i></button>
            </div>

            <br />
            <br />

            <div class="d-flex mt-3 mb-3" id="question_not_allow">
                <hr style="width:30%;">
                <div class="text-center mt-1 font-italic text-muted" style="width:20%">Para cadastrar perguntas no quiz. Cadastre primeiro o quiz.</div>
                <hr style="width:30%">
            </div>

            <div class="form-group" id="question_div_container" style="display: none">
                <label>Personagens Adicionados:</label>
                <br />
                <div id="lista_cadastrados" class="row">

                </div>
                <div class="position-relative">
                    <button class="btn btn-sm btn-secondary position-absolute" style="top: -30px; right: 0"
                        data-toggle="modal" data-target="#modalCadastrarQuestion">
                        Adicionar Personagem
                    </button>
                </div>
            </div>

            <hr>
            <br />
            <div class="mt-4 mb-3 row" id="avancadas" style="display: none">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="super_allow_alias">Colocar um apelido para o super aprovado?</label>
                        <input type="text" class="form-control" id="super_allow_alias" name="super_allow_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="super_allow_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="super_allow_color" value="#f9c74f">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="allow_alias">Colocar um apelido para o aprovado?</label>
                        <input type="text" class="form-control" id="allow_alias" name="allow_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="allow_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="allow_color" value="#ff595e">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="deny_alias">Colocar um apelido para o reprovado?</label>
                        <input type="text" class="form-control" id="deny_alias" name="deny_alias"
                            placeholder="Informe o nome..." />
                    </div>
                    <div class="form-group">
                        <label for="deny_color">Cor personalizada:</label>
                        <input type="color" class="form-control" id="deny_color" value="#00b4d8">
                    </div>
                </div>
            </div>

            <div class="text-center row">
                <button class="btn btn-secondary btn-block col-12" id="avancadas_button">mostrar opções
                    avançadas</button>
            </div>
            <script>
                $('#avancadas_button').on('click', function () {
                    if ($('#avancadas').css('display') == 'none') {
                        $('#avancadas').slideDown();
                        $('#avancadas_button').text('esconder opções avançadas');
                    } else {
                        $('#avancadas').slideUp();
                        $('#avancadas_button').text('mostrar opções avançadas');
                    }
                });
            </script>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary"  id="botao_cadastar_editar">Cadastrar Quiz</button>
        </div>
    </div>
</div>

<input type="hidden" id="edit_url" value="{{ res|default:"null"|safe }}"></input>

{% load static %}

{% include 'components/modal_category.html' %}
{% include 'components/modal_question.html' %}
<script src="{% static 'js/pages/category.js' %}"></script>
<script src="{% static 'js/pages/question.js' %}"></script>
<script src="{% static 'js/pages/quiz_page.js' %}"></script>
<script src="{% static 'js/pages/attributes.js' %}"></script>
{% endblock %}