{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}
<h1 class="text-center">Home</h1>

<script>
</script>
<button class="btn btn-primary" onclick="category.send({name: 'Teste', color: 'FF0000'});"> testar  envio de attribute </button>
<button class="btn btn-primary" onclick="category.get([7,8,9]);"> Pegar mais uma categoria </button>
<button class="btn btn-primary" onclick="category.get();"> Pegar todos </button>
<br />

{% endblock %}