{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

{% if res %}
<input type="hidden" id="edit_url" value='{{ res|default:"null"|safe }}'></input>
{% else %}
<input type="hidden" id="edit_url" value='null'></input>
{% endif %}

<br />
<div class="container mb-5">
    <div class="row" id="todos_os_quizzes">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindo ao TierMatch!</h1>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/pages/quizzes.js' %}"></script>
{% include 'components/ad.html' %}
{% endblock %}