{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'js/pages/category.js' %}"></script>
<script src="{% static 'js/pages/question.js' %}"></script>
<script src="{% static 'js/pages/quiz_page.js' %}"></script>
<script src="{% static 'js/pages/attributes.js' %}"></script>

{% csrf_token %}

<h1 class="text-center">Home</h1>

{% include 'components/modal_category.html' %}
{% include 'components/modal_question.html' %}
{% include 'pages/cadastrar_quiz.html' %}

{% endblock %}