{% extends 'main/base.html' %}

{% block title %}Fazendo quiz{% endblock %}

{% block content %}
{% load static %}
<script src="{% static '/js/quiz/quiz.js' %}"></script>
<script src="{% static '/js/quiz/quiz-ui.js' %}"></script>
<script src="{% static '/js/quiz/quiz-logic.js' %}"></script>
<script src="{% static '/js/quiz/quiz-result.js' %}"></script>
<script src="{% static '/js/quiz/quiz-effects.js' %}"></script>

{% if quiz %}
<input type="hidden" id="quiz_params" value='{{ quiz|default:"null"|safe }}'></input>
{% else %}
<input type="hidden" id="quiz_params" value='null'></input>
{% endif %}

<script>
    window.onload = function() {
        values = JSON.parse($('#quiz_params').val());
        values.questions.map(function(question) {
            question.stats = JSON.parse(question.stats);
        });
        console.log(values);
        quiz.start({quiz: values }); // Inicia o quiz
    }
</script>
<div class="cloud-container" id="quiz">
</div>

{% endblock %}