{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="div d-flex" style="justify-content: center; align-items: center; height: 100vh;">
        <div class="card translate-middle">
            <div class="card-body">
                <div class="pt-3 pb-3 text-center">
                    <h1>404</h1>
                    <h3>Page not found</h3>
                    <p>Sorry, but the page you are looking for has not been found. Try checking the URL for the error, then hit the refresh button on your browser or try found something else in our app.</p>
                </div>
            </div>
        </div>
    </div>
{% include 'components/ad.html' %}
{% endblock %}