
.categoria_div {
    position: relative;
    padding: 4px;
}

.categoria_div button.close,
.question-div button.close {
    font-size: 1.0rem !important;
    position: absolute;
    top: -10px;
    right: 10px;
}
.categoria_div button.close.add {
    top: -10px;
    right: -6px;
}

.categoria_div.active {
    opacity: 0.8;
    border: 4px solid #8a8a8aa2;
}
#categoria_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}